body{
	 background: #fff url(../images/backimage3.jpg) 50% 0;};
}
.padding-left-0{
	padding-left: 0px;
}
.padding-left-10{
	padding-left: 10px;
}
.padding-top-0{
	padding-top: 0px;
}
.padding-bottom-3{
	padding-bottom: 3px;
}
.padding-right-0{
	padding-right: 0px;
}
.margin-top-10{
	margin-top: 10px;
}
.nav-style{
	background-color: #bbb;
	margin-top: 15px;
	height: 45px;
}
.nav-style ul li{
	line-height: 24px;
}
.nav-style ul li a:hover , .nav-style ul li a:focus{
	background-color: #aaa;
}
.nav .open a, .nav .open a:focus, .nav .open a:hover{
	background-color: #337ab7;
}
.nav-style ul li a{
	color: white;
	font-size: 16px;
}
.active1 {
	background-color: #aaa;
}